.git
.github
.env
.env.*
!.env.example
node_modules
vendor
public/build
tests
phpunit.xml
storage/app/public/*
!storage/app/public/.gitignore
storage/logs/*
!storage/logs/.gitignore
storage/framework/*
!storage/framework/.gitignore
storage/*.key
database/*.sqlite
database/*.sqlite-journal
Dockerfile
render.yaml
.dockerignore